main
    height: 80vh
    position: relative
    top: 14vh
.task-column
    width: 20vw
    height: 100%
    border: 2px solid white
    border-radius: 20px
    position: absolute
    top: 1vw
    left: 1vw
.div-add-tasks
    width: 100%
    height: 10%
    border-bottom: 1px solid white

    i
        cursor: pointer
        color: #d1a7ff
        font-size: 1.2vw
    i:hover
        color: white
.header-input
    width: 60%
    height: 100%
    font-weight: 600
    font-size: 1.3vw
    text-align: center
    cursor: default
    border: none
    color: #d1a7ff
    outline: none
    background-color: transparent
.header-input:focus
    outline: none4
.task-div
    width: 100%
    height: 15vh
    border-bottom: 1px solid white
    background-color: #ffffff2d
